<% provide(:title, 'Log in') %>
<div class="p-6 bg-gray-100 text-gray-700">
  <h1 class="pb-6 text-xl font-bold">Log in</h1>

  <div class="grid grid-cols-1 grid-rows-1 gap-4 text-sm font-bold leading-6 bg-stripes-fuchsia rounded-lg">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <div><%= f.label :email %></div>
      <div><%= f.email_field :email, class: "pl-1 w-96" %></div>

      <div><%= f.label :password %></div>
      <div><%= link_to "(forgot password)", new_password_reset_path, class: "underline text-sky-500 decoration-sky-500" %></div>
      <div><%= f.password_field :password, class: "pl-1 w-96" %></div>

      <div>
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %>
      </div>

      <div class="py-6">
        <%= f.submit "Log in", class: "text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
      </div>
    <% end %>

    <div>
      New user? <%= link_to "Sign up now!", signup_path, class: "underline text-sky-500 decoration-sky-500" %>
    </div>
  </div>
</div>
