<%= provide(:title, @user.name) %>
<div class="p-6 bg-gray-100 text-gray-700 flex">
  <aside>
    <section>
      <h1 class="flex">
        <div>
          <%= gravatar_for @user %>
        </div>
        <div class="pl-3 text-xl font-bold">
          <%= @user.name %>
        </div>
      </h1>
    </section>
      <%= render "shared/stats" %>
    <section>
    </section>
  </aside>
  <div class="pl-6">
    <%= render "follow_form" if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol><%= render @microposts %></ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
